*,
::after,
::before {
    box-sizing: border-box;
}

/* ###################################################################################################### */

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img,
picture.jarallax-img img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.react-jarallax-img {
    width: 100%;
    height: auto;
}

/* #################################################################################################################### */

.e-con-inner > .application-page-wrapper-element.element-absolute,
.e-con > .application-page-wrapper-element.element-absolute,
.application-page-element-widget-wrap
    > .application-page-wrapper-element.element-absolute {
    position: absolute;
}

.application-page-element-widget-wrap
    .application-page-wrapper-element.application-page-element-widget__width-initial {
    max-width: 100%;
}

@media (max-width: 767px) {
    .application-page-element-widget-wrap
        .application-page-wrapper-element.application-page-element-widget-mobile__width-auto,
    .application-page-element-widget-wrap
        .application-page-wrapper-element.application-page-element-widget-mobile__width-initial {
        max-width: 100%;
    }
}
.application-page-wrapper-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    align-self: var(--align-self);
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
}
.application-page-wrapper-element.element-absolute {
    z-index: 1;
}
.application-page-wrapper-element:where(
        .e-con-full,
        .application-page-element-widget
    ) {
    align-content: var(--align-content);
    align-items: var(--align-items);
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    gap: var(--row-gap) var(--column-gap);
    justify-content: var(--justify-content);
}

/* ############################################################################################### */

.e-con {
    --border-radius: 0;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    --border-style: initial;
    --border-color: initial;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --content-width: min(100%, var(--container-max-width, 1140px));
    --width: 100%;
    --min-height: initial;
    --height: auto;
    --text-align: initial;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: var(--container-default-padding-top, 10px);
    --padding-right: var(--container-default-padding-right, 10px);
    --padding-bottom: var(--container-default-padding-bottom, 10px);
    --padding-left: var(--container-default-padding-left, 10px);
    --position: relative;
    --z-index: revert;
    --overflow: visible;
    --gap: var(--widgets-spacing, 20px);
    --row-gap: var(--widgets-spacing-row, 20px);
    --column-gap: var(--widgets-spacing-column, 20px);
    --overlay-mix-blend-mode: initial;
    --overlay-opacity: 1;
    --overlay-transition: 0.3s;
    --e-con-grid-template-columns: repeat(3, 1fr);
    --e-con-grid-template-rows: repeat(2, 1fr);
    border-radius: var(--border-radius);
    height: var(--height);
    min-height: var(--min-height);
    min-width: 0;
    overflow: var(--overflow);
    position: var(--position);
    transition: background var(--background-transition, 0.3s),
        border var(--border-transition, 0.3s),
        box-shadow var(--border-transition, 0.3s),
        transform var(--e-con-transform-transition-duration, 0.4s);
    width: var(--width);
    z-index: var(--z-index);
    --flex-wrap-mobile: wrap;
    margin-block-end: var(--margin-block-end);
    margin-block-start: var(--margin-block-start);
    margin-inline-end: var(--margin-inline-end);
    margin-inline-start: var(--margin-inline-start);
    padding-inline-end: var(--padding-inline-end);
    padding-inline-start: var(--padding-inline-start);
    --margin-block-start: var(--margin-top);
    --margin-block-end: var(--margin-bottom);
    --margin-inline-start: var(--margin-left);
    --margin-inline-end: var(--margin-right);
    --padding-inline-start: var(--padding-left);
    --padding-inline-end: var(--padding-right);
    --padding-block-start: var(--padding-top);
    --padding-block-end: var(--padding-bottom);
    --border-block-start-width: var(--border-top-width);
    --border-block-end-width: var(--border-bottom-width);
    --border-inline-start-width: var(--border-left-width);
    --border-inline-end-width: var(--border-right-width);
}

.e-con.e-flex {
    --flex-direction: column;
    --flex-basis: auto;
    --flex-grow: 0;
    --flex-shrink: 1;
    flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
}
.e-con-full,
.e-con > .e-con-inner {
    padding-block-end: var(--padding-block-end);
    padding-block-start: var(--padding-block-start);
    text-align: var(--text-align);
}
.e-con-full.e-flex,
.e-con.e-flex > .e-con-inner {
    flex-direction: var(--flex-direction);
}
.e-con,
.e-con > .e-con-inner {
    display: var(--display);
}

.e-con-boxed.e-flex {
    align-content: normal;
    align-items: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
}

.e-con-boxed {
    gap: initial;
    text-align: initial;
}
.e-con.e-flex > .e-con-inner {
    align-content: var(--align-content);
    align-items: var(--align-items);
    align-self: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
}

.e-con > .e-con-inner {
    gap: var(--row-gap) var(--column-gap);
    height: 100%;
    margin: 0 auto;
    max-width: var(--content-width);
    padding-inline-end: 0;
    padding-inline-start: 0;
    width: 100%;
}

.e-con .application-page-element-widget.application-page-element-widget {
    margin-block-end: 0;
}

.e-con .application-page-element-widget {
    min-width: 0;
}

.e-con
    > .e-con-inner
    > .application-page-element-widget
    > .application-page-element-widget-container,
.e-con
    > .application-page-element-widget
    > .application-page-element-widget-container {
    height: 100%;
}
.e-con.e-con > .e-con-inner > .application-page-element-widget {
    max-width: 100%;
}
.e-con .application-page-element-widget:not(:last-child) {
    --kit-widget-spacing: 0px;
}
@media (max-width: 767px) {
    .e-con.e-flex {
        --width: 100%;
        --flex-wrap: var(--flex-wrap-mobile);
    }
    .e-con.e-flex .application-page-element-widget-archive-posts {
        width: 100%;
    }
}

/* ########################################################################################################################## */

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-eb3a3d6 {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
    );
    --gap: 55px 55px;
    --row-gap: 55px;
    --column-gap: 55px;
    --padding-top: 80px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-48aae47 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-0662a4c {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-8272822 {
    z-index: 2;
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-8272822
    img.react-multi-image {
    width: 100% !important;
    height: 560px !important;
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-8272822
    .react-jarallax-img {
    width: 100% !important;
    height: 560px !important;
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-538ef42 {
    width: var(--container-widget-width, 1050px);
    max-width: 1050px;
    --container-widget-width: 1050px;
    --container-widget-flex-grow: 0;
    z-index: 2;
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-538ef42
    > .application-page-element-widget-container {
    margin: -225px 0 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-538ef42.application-page-wrapper-element {
    --align-self: center;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-8372a12 {
    left: -7%;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-8372a12 {
    top: 0;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-7895535 {
    left: -10%;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-7895535 {
    bottom: 100px;
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-7895535
    img {
    width: 145px;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-f99f460 {
    right: -10%;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-f99f460 {
    bottom: 0;
}
.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-f99f460
    img {
    width: 270px;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-33f2e16 {
    right: -25%;
}

.application-page-section
    .application-page-wrapper-element.application-page-wrapper-element-33f2e16 {
    top: 0;
}

@media (max-width: 1024px) {
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-eb3a3d6 {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
        --padding-top: 80px;
        --padding-bottom: 60px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-0662a4c {
        --gap: 40px 40px;
        --row-gap: 40px;
        --column-gap: 40px;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-8272822
        img.react-multi-image {
        height: 450px !important;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-8272822
        .react-jarallax-img {
        height: 450px !important;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-538ef42 {
        width: var(--container-widget-width, 90%);
        max-width: 90%;
        --container-widget-width: 90%;
        --container-widget-flex-grow: 0;
    }
}

@media (max-width: 880px) {
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-eb3a3d6 {
        --padding-top: 70px;
        --padding-bottom: 65px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-8272822
        img.react-multi-image {
        height: 350px !important;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-8272822
        .react-jarallax-img {
        height: 350px !important;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-538ef42
        > .application-page-element-widget-container {
        margin: -140px 0 0;
    }
}

@media (max-width: 767px) {
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-eb3a3d6 {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
    }

    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-0662a4c {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
        --flex-wrap: nowrap;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-8272822
        img.react-multi-image {
        height: 200px !important;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-8272822
        .react-jarallax-img {
        height: 200px !important;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-538ef42
        > .application-page-element-widget-container {
        margin: 0;
    }
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-538ef42 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .application-page-section
        .application-page-wrapper-element.application-page-wrapper-element-eb3a3d6 {
        --content-width: 1260px;
    }
}

/* ################################################################################################# */

/* ################################################################################################## */

:root {
    --color-primary: #890c25;
    --color-secondary: #110c2d;
    --color-title: #262626;
    --color-body: #737477;
    --color-white: #fff;
    --border-1: 1px solid#eee;
    --footer-four-bg: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 100%
        ),
        #bcbfdb;
    --color-border-2: #d7d9e9;
    --box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    --box-shadow-2: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --font-primary: "Canela trial", sans-serif;
    --font-secondary: "Inter", sans-serif;
}
html,
body {
    vertical-align: baseline;
    line-height: 1.8;
    overflow-x: hidden;
}
/* img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: var(--font-primary);
    color: var(--color-title);
    margin: 0 0 26px;
    font-weight: 400;
}
h1 {
    font-size: 64px;
    line-height: 75px;
} */

/* ######################################################################################################################## */

.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd {
    background-color: #ffff;
}

.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    h6.form-wrapper-heading-title {
    font-size: 16px;
    font-weight: 600;
}
.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd h6 {
    font-size: 15px;
}

.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    .formDetailsSection {
    margin-bottom: 20px;
}

.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    .form-group
    input,
.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    .form-group
    textarea {
    appearance: none;
}

.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    .form-group
    input::placeholder {
    color: gray !important;
}

.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    .input-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    .form-group
    .placeholder {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s;
    background: transparent !important;
    /* background: none !important; */
}

.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    .form-group
    .textarea-placeholder {
    top: 15%;
}

@media (max-width: 900px) {
    .application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
        .form-group
        .textarea-placeholder {
        top: 25%;
    }
}

@media (max-width: 380px) {
    .application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
        .form-group
        .textarea-placeholder {
        top: 35%;
        color: red;
    }
}

.application-page-wrapper-element.application-page-wrapper-element-cd8c5cd
    .form-group
    .placeholder
    .required {
    color: rgba(255, 0, 0, 0.8);
    font-weight: bold;
}

.input-wrapper input:not(:placeholder-shown) + .placeholder,
.input-wrapper textarea:not(:placeholder-shown) + .textarea-placeholder {
    opacity: 0;
}

.input-wrapper input:placeholder-shown + .placeholder,
.input-wrapper textarea:placeholder-shown + .textarea-placeholder {
    opacity: 1;
}

/* .input-wrapper input[type="date"]::-webkit-datetime-edit {
    color: transparent;
}

.input-wrapper input[type="date"]:focus::-webkit-datetime-edit {
    color: initial;
} */

/* ------------------------date placeholder-------------- */
.input-wrapper input[type="date"] {
    appearance: none;
    position: relative;
    z-index: 2;
}

.input-wrapper .date-placeholder {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 5;
}
.input-wrapper input:focus + .date-placeholder,
.input-wrapper input:valid + .date-placeholder {
    opacity: 0;
}
.input-wrapper input[type="date"]::-webkit-datetime-edit {
    color: transparent;
}
.input-wrapper input.date-show::-webkit-datetime-edit {
    color: #000000;
}
.input-wrapper input[type="date"]:focus::-webkit-datetime-edit {
    color: initial;
}
/* ------------------------------------------------------------------------------ */

select:invalid {
    color: red;
    background: red;
    display: none;
}

.form-group .input-wrapper select:nth-child(1),
.form-group .input-wrapper select:nth-child(1):focus {
    color: grey;
}

.form-group .input-wrapper select option:nth-child(2),
.form-group .input-wrapper select option:nth-child(3),
.form-group .input-wrapper select option:nth-child(4),
.form-group .input-wrapper select option:nth-child(5),
.form-group .input-wrapper select option:nth-child(6),
.form-group .input-wrapper select.optionSelected {
    color: #000000;
}
