/* .contact-us-section {
} */

.contact-us-section .section-label {
    font: 700 24px Arial;
    color: #4d4d4d;
    margin-bottom: 10px;
}

.contact-us-section .main-heading {
    font: 700 32px Arial;
    color: #000;
    margin-bottom: 20px;
}

.contact-us-section .info-section {
    margin-bottom: 20px;
}

.contact-us-section .info-sections .info-section .info-heading {
    font: 600 24px Arial;
    color: #000;
    margin-bottom: 10px;
}

.contact-us-section .info-section .info-content {
    font: 24px Arial;
    color: #000;
}

.contact-us-section .info-section .social-icons div {
    display: flex;
    gap: 20px;
    /* margin-top: 20px; */
}

.contact-us-section .info-section .social-icons i {
    font-size: 30px;
}

@media (max-width: 991px) {
    .contact-us-section .main-heading {
        font-size: 30px;
    }
}

@media (max-width: 640px) {
    .contact-us-section .main-heading {
        font-size: 28px;
    }

    .contact-us-section .info-section .info-heading,
    .contact-us-section .info-section .info-content {
        font-size: 20px;
    }
}
