/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.startup-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 1s ease;
}

.animation-content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* img.logo-img {
    width: 200px;
} */

/* #east_logo {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    transform: translateX(0);
    animation: fill-color 0.5s ease forwards 3.5s;
} */

#east_logo {
    position: relative;
    width: 50%;
    transform: translateX(0);
    animation: fill-color 0.5s ease forwards 3.5s;
}

#east_logo path:nth-child(1) {
    stroke-dasharray: 975;
    stroke-dashoffset: 975;
    animation: line-animation 2s ease forwards 0.3s;
}

#east_logo path:nth-child(2) {
    stroke-dasharray: 877;
    stroke-dashoffset: 877;
    animation: line-animation 2s ease forwards 0.6s;
}

#east_logo path:nth-child(3) {
    stroke-dasharray: 974;
    stroke-dashoffset: 974;
    animation: line-animation 2s ease forwards 0.9s;
}

#east_logo path:nth-child(4) {
    stroke-dasharray: 698;
    stroke-dashoffset: 698;
    animation: line-animation 2s ease forwards 1.2s;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-color {
    from {
        fill: transparent;
    }
    to {
        fill: #ffffff;
    }
}

#main-content {
    opacity: 0;
    background-color: #000000;
    /* transition: opacity 1s ease; */
    transition: opacity 1s ease, background-color 1s ease;
    min-height: 100vh;
}

#main-content.visible {
    opacity: 1;
    background-color: #ffffff;
}
