.volunteering-info-section .page-info-section h1 {
    font-size: 68px;
    font-weight: 800;
}
.volunteering-info-section .page-info-section p {
    font-size: 24px;
    margin-bottom: 20px;
}

.volunteering-info-section .volunteer-areas h3 {
    font-size: 24px;
    font-weight: 600;
}

.volunteering-info-section .volunteer-areas p {
    font-size: 24px;
}

@media (max-width: 600px) {
    .volunteering-info-section .page-info-section h1 {
        font-size: 48px;
    }
    .volunteers-section-title h2 {
        font-size: 24px;
    }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 24px 0 30px 0;
}

.volunteeer-contact-form .section-title {
    padding-bottom: 30px;
}

.contact .info-item i {
    font-size: 20px;
    color: var(--accent-color);
    width: 56px;
    height: 56px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 2px dotted color-mix(in srgb, var(--accent-color), transparent 40%);
}

.contact .info-item h3 {
    font-size: 20px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.contact .php-email-form {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 30px;
}

@media (max-width: 575px) {
    .contact .php-email-form {
        padding: 20px;
    }
}

.contact .php-email-form input[type="text"],
.contact .php-email-form input[type="email"],
.contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: var(--surface-color);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type="text"]:focus,
.contact .php-email-form input[type="email"]:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
}

.contact .php-email-form input[type="text"]::placeholder,
.contact .php-email-form input[type="email"]::placeholder,
.contact .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type="submit"] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

/* 
Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

 Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

 Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} 
*/
